body{
    margin:0;
    padding:0;
    background-color: #276cda;
}
body,html{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container > .box login,
.main-container > .hero-body{
    height: auto;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}


.navbar{
    background-color:#f7d8a1;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.footer{
    background-color:#f7d8a1;
    height: 20px;
}
.hero{
    height: auto;
    width: 100%;  
}
.parrafo{
margin-left: 15px;
}
